.Home{ 
    .btn_header{
        padding: 10px;
        border-radius: 25px;
        background-color: black;
        color: white;
        font-size: 15px;
        cursor: pointer;
    }

    .dropdown .dropdown-content{
        right: 0;
    }
}