@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-Input {
    @apply placeholder:italic placeholder:text-slate-400 block bg-white border border-slate-300 rounded-md p-2 lg:p-3.5 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 w-[100%]
}

@font-face {
    font-family: 'Font_Light';
    src: url('src/assets/font/WorkSans-Light.ttf')
}

@font-face {
    font-family: 'Font_Regular';
    src: url('src/assets/font/WorkSans-Regular.ttf')
}
@font-face {
    font-family: 'Font_Bold';
    src: url('src/assets/font/WorkSans-Bold.ttf')
}
@font-face {
    font-family: 'Font_SemiBold';
    src: url('src/assets/font/WorkSans-SemiBold.ttf')
}
@font-face {
    font-family: 'Font_Thin';
    src: url('src/assets/font/WorkSans-Thin.ttf')
}
